.contenedor{
    margin: 20px;

    .post{
        width: 50%;
        float: left;

        .titulo{
            @include titulo;
        }

        p{
            color: grey;
            font-size: 16px;
            text-align: justify;
            padding: 0px 5px;
            margin-bottom: 50px;
        }

               
        .btn-container{
            text-align: center;

            .button{
                color: white;
                width: 100px;
                padding: 10px;
                border: 0;
                border-radius: 5px;
                background: rgb(38,167,209);
                background: radial-gradient(circle, rgba(38,167,209,1) 0%, rgb(58, 41, 182) 82%);
                transition: all 0.3s linear;

                &:hover{
                    text-shadow: 1px 1px 1px black;
                    box-shadow: 3px 3px 5px grey;
                }
            }
        }
    }    
}

