header{
    border-bottom: 2px solid black;

    h1{
        display: inline-block;
        position: relative;
        bottom: 10px;
    }
    
    nav{
        position: absolute;
        right: 10px;
        top: 20px;

        ul {
            li {
                display: inline-block;
                list-style: none;
                margin: 0 20px;

                .link{
                    text-decoration: none;
                    display: inline-block;
                    transition: color 0.3s ease-in,
                    transform 0.5s linear;

                    &:hover{
                        color: red;
                        font-weight: bold;
                        transform: translateY(5px) scale(1.2);
                    }
                }
            }
        }              
    }
}